# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=8080

# Database (when running locally)
DB_HOST=localhost
DB_PORT=5432
DB_USER=soccer
DB_PASSWORD=soccer
DB_NAME=soccer_manager
DB_SSLMODE=disable

# App
APP_ENV=development
JWT_SECRET=qcnaslcnkascaslcnaslcnklascn
JWT_EXPIRE_HOURS=24
